# Ansible
*.retry
.facts_cache/
/tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Secrets
*.pem
.vault_pass
inventories/*/group_vars/vault.yml
inventories/*/group_vars/*/vault.yml

# Python
*.pyc
__pycache__/
.pytest_cache/

# Build artifacts
*.tar
*.gz

# OS
.DS_Store
Thumbs.db

# Molecule
.molecule/
